<header class="header">
  <div class="header-innner">
    <div class="header-logo">
      <%= link_to "FUTSAL⚽️KOMAKI", root_path %>
    </div>

    <div class="header-contact">
      <nav>
        <ul>
          <li><%= link_to "トップ", root_path %></li>
          <li><%= link_to "施設について", guide_index_path %></li>
          <li><%= link_to "お問い合わせ", contact_index_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="main-contents">
  <div class="main-container">
    <h1>FUTSAl⚽️KOMAKIで人生にプラスαを</h1>
    <p>FUTSAl⚽️KOMAKIが人生にプラスαを作る３つの理由</p>
    <div class="mainbtn">
    
      <%=link_to "３つの理由を click!", reason_index_path, class:'reason-btn' %>
      
    </div>

  </div>
  
</div>

<div class="main-topic">
    
   <h3>menu</h3>

   <div class="main-innner">   
      <div class="main-topic-left">

      
          
        <%= link_to(kojin_index_path) do %>
              <div class="main-kojin">
                <%= image_tag 'kojin.jpg' , size: '300x300' %>
                <P>個人参加menu</p>
              </div>
        <% end %>
          
        <%= link_to(taikai_index_path) do %>
          <div class="main-taikai">
            <%= image_tag 'main3.jpg', size: '300x300'%>
            <p>大会menu</p>
          </div>
        <% end %>
      </div>



      <div class="main-topic-right">
        <%= link_to(school_index_path) do %>
          <div class="main-school">
              <%= image_tag 'main2.jpg', size: '300x300'%>
              <p>スクールmenu</p>
            </div>
        <% end %>

        <%= link_to(rental_index_path) do %>
            <div class="main-rental">
              <%= image_tag 'rental.jpg', size: '300x300'%>
              <p>レンタルコートmenu</p>
            </div>
         <% end %>
          
        </div>
      </div> 

  </div>  


<div>

<%= render partial: "layouts/footer" %>
</div>