<header class="header">
  <div class="header-innner">
    <div class="header-logo">
      <%= link_to "大会参加", root_path %>
    </div>

    <div class="header-contact">
      <nav>
        <ul>
          <li><%= link_to "トップ", root_path %></li>
          <li><%= link_to "施設について", guide_index_path %></li>
          <li><%= link_to "お問い合わせ", root_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>



<div class="t-main">
  <div class="t-contents">
   <span>大会とは</span><br>
    <p>チームで大会に参加して頂くイベントです.<br>
    昔からのサッカーチームで参加、施設で知り合った人を誘っての参加、５名以上のチームであれば参加できます。<br>
    初心者チーム〜上級者チームまで各レベルに合わせた大会を用意させて頂いております。
    <br>
    </p>
    <br>
    <br>
    <span>学生の頃の青春を味わおう</span><br>
    <p>社会人になってからスポーツで、チーム皆での一体感、勝利をした、そんな体験がなくなってきてはいませんか？<br>
    レベルに合わせた大会に参加し、チームでの一体感、勝利、学生の頃のあの青春を味わいましょう。<br>
  </div>





<div class="taikai-click">
  <%= link_to "大会参加申込", mousikomi_index_path, class: 'btn-tamousikomi' %>
  <p>毎日15:00,19:00の２回開催</p>
</div>




<div class="t-mousikomiform">
    
    <div class="taikaimousikomi">
      <a>
      <button type="button" class="taikaimousikomi-btn" id="taikaimousikomi-modal">お客様の声</button>
      </a>
  </div>
  


  <div class="taikai-modal-wrapper" id="taikai-modal"> 
    <!-- ログインのモーダル部分のHTMLを貼り付けてください -->
    <div class="taikai-modal">
      <div id="taikai-login-form">
        <h2>お客様の声</h2>
      <div class="taikai-modal-inner">  
        <p>チームメイトで大会に参加する事で同じ目標、一体感を感じる事ができてます。<br>
        (20代男性)
        <p>試合中、試合の前後、学生時代のあの頃を思い出す事ができ、毎月参加してます。<br>(40代男性)
        </p>
      </div>
        

        <div>
        <div class="taikai-close-modal">
        <i class="fa fa-2x fa-times"></i>
       </div>
      </div>     
 
</div>
</div>
</div>
</div>
</div>
<div>
 
 <%= render partial: "layouts/footer" %>

</div>
