<header class="header">
  <div class="header-innner">
    <div class="header-logo">
      <%= link_to "個人参加" %>
    </div>

    <div class="header-contact">
      <nav>
        <ul>
          <li><%= link_to "トップ", root_path %></li>
          <li><%= link_to "施設について", guide_index_path %></li>
          <li><%= link_to "お問い合わせ", contact_index_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>


<div class="k-main">
 <div class="k-contents"> 
      <span>個人参加とは</span><br>
      <p>１人でも試合に参加できるイベントです.<br>
      １人もしくは友人を御誘いの上、参加申込をして頂きます。<br>
      9割以上の方が１人で参加していただいております。施設がチーム分けなど運営をさせて頂きますので、どなたも安心して参加していただけます。<br>
      </p>
      <br>
      <span>友人を作ろう</span><br>
      <p>社会人になってから、仕事関係の友人しかいない、人脈、仕事と関係ない友人が欲しいという方も多いのではないでしょうか？<br>
      １名で参加される方が多く、フットサルを通じてコミュニケーションをとる為、友人ができやすい環境にあります。<br>
      ここで知り合った人同士、フットサル以外のお付き合いをしている常連さんが多数います。<br>
  </div>

<div class="kojin-click">
  <%= link_to "個人参加申込", kojinmousikomi_index_path, class: 'btn-komousikomi' %>
  <p>毎日15:00,19:00の２回開催</p>
</div>

 
    






 
  <div class="k-mousikomiform">
    
    <div class="kojinmousikomi">
      <a>
      <button type="button" class="kojinmousikomi-btn" id="kojinmousikomi-modal">お客様の声</button>
      </a>
  </div>
  


  <div class="kojin-modal-wrapper" id="kojin-modal"> 
    <div class="kojin-modal">
      <div id="kojin-login-form">
        <h2>お客様の声</h2>
      <div class="kojin-modal-inner">  
        <p>サッカー経験がなく運動の為始めましたが、とても楽しく運動でき、運動不足解消になってます。<br>
        (30代男性)
        <p>社会人になってから仕事関係だけの友達でしたが、個人参加を通じて友人ができ、フットサル以外でも親交ができました。<br>(40代男性)
        </p>
      </div>
        


        <div class="kojin-close-modal">
        <i class="fa fa-2x fa-times"></i>
       </div>
            
      </div>

  </div>    
  </div>
 </div>
<div> 

  </div>
 </div>
</div>


<div>
<%= render partial: "layouts/footer" %>
</div>