<header class="header">
  <div class="header-innner">
    <div class="header-logo">
      <%= link_to "個人参加" %>
    </div>

    <div class="header-contact">
      <nav>
        <ul>
          <li><%= link_to "トップ", root_path %></li>
          <li><%= link_to "施設について", guide_index_path %></li>
          <li><%= link_to "お問い合わせ", contact_index_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>


<div class="k-main">
 <div class="k-contents"> 
      <span>個人参加とは</span><br>
      <p>１人でも試合に参加できるイベントです.<br>
      １人もしくは友人を御誘いの上、参加申込をして頂きます。<br>
      9割り以上の方が１人で参加していただいております。施設がチーム分けなど運営をさせて頂きますので、どなたも安心して参加していただけます。<br>
      </p>
      <br>
      <span>友人を作ろう</span><br>
      <p>社会人になってから、仕事関係の友人しかいない、人脈、仕事と関係ない友人が欲しいという方も多いのではないでしょうか？<br>
      １名で参加される方が多く、フットサルを通じてコミュニケーションをとる為、友人ができやすい環境にあります。<br>
      ここで知り合った人同士、フットサル以外のお付き合いをしている常連さんが多数います。<br>
  </div>

<div class="kojin-click">
  <%= link_to "個人参加申込", mousikomi_index_path, class: 'btn-komousikomi' %>
</div>

 
    






  <div class="k-mousikomi">
  <div class="k-mousikomiform">
    
    <div class="kojinmousikomi">
      <a>
      <button type="button" class="kojinmousikomi-btn" id="kojinmousikomi-modal">お客様の声</button>
      </a>
  </div>
  </div>


  <div class="kojin-modal-wrapper" id="kojin-modal"> 
    <!-- ログインのモーダル部分のHTMLを貼り付けてください -->
    <div class="kojin-modal">
      <div id="kojin-login-form">
        <h2>お客様の声</h2>
        <p>
       
        <%# <form action="#">

          <div class="kojin-modal-form">
            <label>お名前：必須</label>
            <input class="kojin-form-control" type="text" placeholder="入力してください">
          </div>  %>
        
         <%# <div class="kojin-modal-form">
            <label>メールアドレス：必須</label>
            <input class="kojin-form-control" type="email" placeholder="入力してください">
          </div>

          <div class="kojin-modal-form">
            <label>希望日：必須</label>
            <input class="kojin-form-control" type="text" placeholder="入力してください">
          </div>

          <div class="kojin-modal-form">
            <label>希望時間：必須</label>
            <input class="kojin-form-control" type="text" placeholder="入力してください">
          </div> %>

      <%# </div>

        </form>
         <div class="kojin-modal-sousin">
          <button type="button" class="kojin-modal-btn" id="kojin-modal-btn">送信</button>
         </div> %>
        <div class="kojin-close-modal">
        <i class="fa fa-2x fa-times"></i>
       </div>
            
      </div>

  </div>    
</div>
</div>
<div> 
</div>
<div>
<%= render partial: "layouts/footer" %>
</div>