<header class="header">
  <div class="header-innner">
    <div class="header-logo">
      <%= link_to "FUTSAL⚽️KOMAKI", root_path %>
    </div>

    <div class="header-contact">
      <nav>
        <ul>
          <li><%= link_to "トップ", root_path %></li>
          <li><%= link_to "施設について", guide_index_path %></li>
          <li><%= link_to "お問い合わせ", contact_index_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>



<h1>個人参加申込フォーム</h1>
  <%= form_tag('/guide', method: :get) do %> 
  
  <div class="contact-text-form">
            <label>お名前：必須</label>
            <input class="contact-form-control" type="text" placeholder="入力してください">
          </div>
        
         <div class="contact-text-form">
            <label>メールアドレス：必須</label>
            <input class="contact-form-control" type="email" placeholder="入力してください">
          </div>

          <div class="contact-text-form">
            <label>ご質問内容：必須</label>
            <input class="contact-form-text" type="text" placeholder="入力してください">
    
    
    
     <div class="school-modal-form">
    <input class="contact-form-sub" type="submit" value="投稿する">
    </div>
  <% end %>