<header class="header">
  <div class="header-innner">
    <div class="header-logo">
      <%= link_to "school参加", root_path %>
    </div>

    <div class="header-contact">
      <nav>
        <ul>
          <li><%= link_to "トップ", root_path %></li>
          <li><%= link_to "施設について", guide_index_path %></li>
          <li><%= link_to "お問い合わせ", root_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="s-main">
 <div class="s-contents">
   <span>スクールとは</span><br>
    <p>個人のニーズに合わせたイベントです.<br>
    子供向けフットサル技術向上を目的としたもの<br>
    大人向け、運動不足解消を目的としたものがあります。</p><br>
    <br>
    <br>
    <span>運動不足を解消</span><br>
    <p>社会人になってから運動したいけど、できていない方にオススメです。ボールを扱っての運動になり、フットサル経験者出なくても、運動が楽しめます。<br>
    その他、各個人に合わせたイベントがありますので、あなたに合ったイベントで楽しんでください。<br>
 </div>

<div class="school-click">
  <%= link_to "school参加申込", mousikomi_index_path, class: 'btn-scmousikomi' %>
</div>

<div class="s-mousikomiform">
    
    <div class="schoolmousikomi">
      <a>
      <button type="button" class="schoolmousikomi-btn" id="schoolmousikomi-modal">お客様の声</button>
      </a>
  </div>
  


  <div class="school-modal-wrapper" id="school-modal"> 
    
    <div class="school-modal">
      <div id="school-login-form">
        <h2>お客様の声</h2>
      <div class="school-modal-inner">  
        <p>自分自身は運動不足解消コースに、子供は上達コースで親子でやってます。<br>
        (50代男性)
        <p>子供を預けておける、ママ友ができる、子供も私も交流の場にもなっています。<br>(40代女性)
        </p>
      </div>
        


        <div class="school-close-modal">
        <i class="fa fa-2x fa-times"></i>
       </div>
            
      </div>

  </div>    
</div>
</div>
<div> 


 


  
</div>
</div>
<div>

<%= render partial: "layouts/footer" %>
</div>



