<header class="header">
  <div class="header-innner">
    <div class="header-logo">
      <%= link_to "FUTSAL⚽️KOMAKI", root_path %>
    </div>

    <div class="header-contact">
      <nav>
        <ul>
          <li><%= link_to "トップ", root_path %></li>
          <li><%= link_to "施設について", guide_index_path %></li>
          <li><%= link_to "お問い合わせ", contact_index_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>


<div class="guide-contents">
  <div class="guide-main">
    <div class="guide-pic">
      <%= image_tag 'sisetu.jpg', size: '400x400'%>
    </div>
    <div class="guide-exp">
      <table>
      <tr>
        <th>営業時間</th>
        <td>平日 10:00 ~ 24:00<br>土日 9:00 ~ 24:00</td>
      </tr>
      <tr>
        <th>住所</th>
        <td>〒123-1234<br>愛知県小牧市1234-1234</td>
      </tr>
      <tr>
        <th>TEL</th>
        <td>123-1234-1234</td>
      </tr>
      <tr>
        <th>FAX</th>
        <td>123-1234-1234</td>
      </tr>
      <tr>
        <th>E-MAIL</th>
        <td>futsal.komaki@mail</td>
      </tr>
      <tr>
        <th>駐車場</th>
        <td>無料駐車場50台完備</td>
      </tr>
      </table>
  </div>

  
  

</div>

 <div class="faq-wrapper">
    <div class="container">
      <div class="heading">
        <b>FAQ</b>
      </div>
      <div class="faq">
        <ul id="faq-list">
          <li class="faq-list-item">
            <h3 class="question">予約制ですか？当日参加は可能ですか？</h3>
            <span>ANSWER CLICK!</span>
            <div class="answer">
              <p>当日参加可能です。ただし、各イベント人数制限がありますので、人数を超えている場合は予約優先となります。</p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">フットサル経験のない初心者ですが参加できますか？</h3>
            <span>ANSWER CLICK!</span>
            <div class="answer">
              <p>もちろん参加可能です。社会人になってから始めた初心者の方も多数います。</p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">年齢制限はありますか？</h3>
            <span>ANSWER CLICK!</span>
            <div class="answer">
              <p>中学生以上であればどなた様でも参加可能です。</p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">レンタル品、シューズなどのレンタルはありますか？</h3>
            <span>ANSWER CLICK!</span>
            <div class="answer">
              <p>あります。シューズ一足200円、ボール１球、ビブス１着は無料です。</p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">雨天の場合は開催されますか？</h3>
            <span>ANSWER CLICK!</span>
            <div class="answer">
              <p>室内の為、雨天でも問題なく開催されます。</p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">定休日はありますか？</h3>
            <span>ANSWER CLICK!</span>
            <div class="answer">
              <p>１月１日〜１月３日は定休日です。それ以外は原則営業させて頂きます。</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div>

<%= render partial: "layouts/footer" %>
</div>