<header class="header">
  <div class="header-innner">
    <div class="header-logo">
      <%= link_to "レンタルコート", root_path %>
    </div>

    <div class="header-contact">
      <nav>
        <ul>
          <li><%= link_to "トップ", root_path %></li>
          <li><%= link_to "施設について", guide_index_path %></li>
          <li><%= link_to "お問い合わせ", root_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="re-main">
 <div class="re-contents">
  <span>レンタルコートとは</span><br>
    <p>フットサルコートを貸し切って頂き自由に使用して頂けるイベントです.<br>
    好きな仲間を集めてフットサルの練習、試合をするのもよし<br>
    もちろんフットサル以外で使用して頂いても構いません。<br>
    <br>
    <br>
    <span>屋内コート（※雨天決行！）</span><br>
    <p>当施設は数少ない室内フットサル場です。<br>
    その為、天候の心配をする事なく、確実にイベントが開催できる施設です。<br>
    また室内の為、紫外線を防ぐ事ができ女性にとっては嬉しい施設となっています。
    <br>
 </div>


 <div class="rental-click">
  <%= link_to "レンタル申込", mousikomi_index_path, class: 'btn-remousikomi' %>
  <p>毎日15:00,19:00の２回開催</p>
</div>

 
    






 
  <div class="re-mousikomiform">
    
    <div class="rentalmousikomi">
      <a>
      <button type="button" class="rentalmousikomi-btn" id="rentalmousikomi-modal">お客様の声</button>
      </a>
  </div>
  


  <div class="rental-modal-wrapper" id="rental-modal"> 
    
    <div class="rental-modal">
      <div id="rental-login-form">
        <h2>お客様の声</h2>
      <div class="rental-modal-inner">  
        <p>室内なので雨の心配せず、予定通りに開催できるのが嬉しいです。<br>
        (30代男性)
        <p>紫外線の心配をする必要がないので、安心して運動できるのが嬉しいです。<br>(20代女性)
        </p>
      </div>
        


        <div class="rental-close-modal">
        <i class="fa fa-2x fa-times"></i>
       </div>
            
      </div>

   </div>    
  </div>
 </div>
<div> 
 
  </div>    
 </div>
</div>
<div>

<%= render partial: "layouts/footer" %>
</div>