<header class="header">
  <div class="header-innner">
    <div class="header-logo">
      <%= link_to "レンタルコート", root_path %>
    </div>

    <div class="header-contact">
      <nav>
        <ul>
          <li><%= link_to "トップ", root_path %></li>
          <li><%= link_to "施設について", guide_index_path %></li>
          <li><%= link_to "お問い合わせ", root_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="re-main">
 <div class="re-contents">
  <span>レンタルコートとは</span><br>
    <p>フットサルコートを貸し切って頂き自由に使用して頂けるイベントです.<br>
    好きな仲間を集めてフットサルの練習、試合をするのもよし<br>
    もちろんフットサル以外で使用して頂いても構いません<br>
    <br>
    <br>
    <span>屋内コート（※雨天決行！）</span><br>
    <p>当施設は数少ない室内フットサル場です。<br>
    その為、天候の心配をする事なく、確実にイベントが開催できる施設です。<br>
    また室内の為、女性には嬉しい紫外線を防ぐ事ができます。
    <br>
 </div>
  <div class="re-mousikomi">
  <div class="re-mousikomiform">
    <p>レンタルコート申込</p>
    <div class="rentalmousikomi">
      <a>
      <button type="button" class="rentalmousikomi-btn" id="rentalmousikomi-modal">申込 click!</button>
      </a>
  </div>

</div>

<div class="rental-modal-wrapper" id="rental-modal">
    <!-- ログインのモーダル部分のHTMLを貼り付けてください -->
    <div class="rental-modal">
      <div id="rental-login-form">
        <h2>レンタルコート申込</h2>
        <form action="#">

          <div class="rental-modal-form">
            <label>お名前：必須</label>
            <input class="rental-form-control" type="text" placeholder="入力してください">
          </div>
        
         <div class="rental-modal-form">
            <label>メールアドレス：必須</label>
            <input class="rental-form-control" type="email" placeholder="入力してください">
          </div>

          <div class="rental-modal-form">
            <label>希望日：必須</label>
            <input class="rental-form-control" type="text" placeholder="入力してください">
          </div>

          <div class="rental-modal-form">
            <label>希望時間：必須</label>
            <input class="rental-form-control" type="text" placeholder="入力してください">
          </div>

      </div>

        </form>
         <div class="rental-modal-sousin">
          <button type="button" class="rental-modal-btn" id="rental-modal-btn">送信</button>
         </div>
        <div class="rental-close-modal">
        <i class="fa fa-2x fa-times"></i>
       </div>
            
      </div>

  </div>    
</div>
</div>
<div>

<%= render partial: "layouts/footer" %>
</div>